* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --font-family-epilogue: 'Epilogue', sans-serif;
    --font-size-body: 1.6rem;
    --font-size-heading: clamp(4rem, 1rem + 5vw, 5.6rem);
    --font-size-heading-sm: clamp(3rem, 0.5rem + 3vw, 4rem);
    
    --color-hue-purple-blue: 250;
    --color-purple-1: hsl(var(--color-hue-purple-blue), 22%, 20%);
    --color-purple-2: hsl(var(--color-hue-purple-blue), 50%, 80%);
    --color-blue-1: hsl(var(--color-hue-purple-blue), 100%, 11%, 1);
    --color-white-1: #ffffff;
}

body {
    font-family: var(--font-family-epilogue);
    font-size: var(--font-size-body);
    color: var(--color-white-1);
    background-color: var(--color-purple-1);
}

.container {
    max-width: clamp(33rem, 30rem + 60vw, 117rem);
    min-width: 310px;
    margin: auto;
    padding: 0 5rem 5rem;
}

img {
    width: 100%;
    margin: 0 auto;
}

header {
    text-align: center;
    margin: 10rem 0 8rem;
    animation: topdown 700ms;

    /* animation-name: topdown;
    animation-duration: 700ms;
    animation-fill-mode: forwards;
    animation-direction: reverse;
    animation-delay: 200ms;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-play-state: paused; */
}

/* header:hover {
    animation-play-state: running;
} */

header p {
    font-weight: 400;
    text-transform: uppercase;
    line-height: 3.2rem;
    letter-spacing: 3px;
    color: var(--color-purple-2);
    margin-bottom: 1.7rem;
}

header h1 {
    font-size: var(--font-size-heading);
    font-weight: 800;
    line-height: 4.8rem;
}

main {
    display: grid;
    gap: 3.2rem;
    animation: downtop 700ms 350ms backwards;
}

.card {
    position: relative;
}

.card img {
    height: 41.6rem;
    object-fit: cover;
    border-radius: 6px;
    filter: brightness(0.5);
    transition: all 0.3s;
}

.card img:hover {
    transform: scale(1.05);
    filter: brightness(0.7);
}

.card h2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: var(--font-size-heading-sm);
    font-weight: 800;
    position: absolute;
    bottom: 5.2rem;
    left: 2.8rem;
}

.card h2 span {
    display: inline-flex;
    align-items: center;
    font-size: var(--font-size-body);
    font-weight: 400;
    color: var(--color-blue-1);
    background-color: var(--color-white-1);
    border-radius: 2rem;
    padding: 0 1.6rem;
    height: 3.8rem;
    width: fit-content;
}

@keyframes topdown {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes downtop {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 320px) {
    .container {
        padding: 1.5rem;
    }
}

@media (min-width: 321px) {
    .container {
        padding: 2rem;
    }
}

@media (min-width: 425px) {
    .container {
        padding: 3rem;
    }
}

@media (min-width: 700px) {

    main {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 930px) {

    main {
        grid-template-areas: "A B B"
                             "C C D";
    }

    main div:nth-child(1) {
        grid-area: A;
    }

    main div:nth-child(2) {
        grid-area: B;
    }

    main div:nth-child(3) {
        grid-area: C;
    }

    main div:nth-child(4) {
        grid-area: D;
    }
}